/* General Fonts and Colors */

@media print {
    * {
        print-color-adjust: exact;
    }

    body {
        font-size: 10pt;
    }
}

* {
    font-family: Noto Sans;
}

p {
    text-align: justify;
}

/* Margins and Page Breaks */

@media print {
    @page {
        /* Half a letter sheet, common size for small books */
        size: 5.5in 8.5in;
        margin: 0.5in;
    }

    @page :left { margin-right: 1in; }
    @page :right { margin-left: 1in; }

    section.chapter {

    }
}

@media screen {
    body {
        max-width: 5.5in;
        margin: auto;
    }
}

/* Page Numbers */

@media print {
    .frontmatter { page: frontmatter; }
    .mainmatter { page: mainmatter; }

    @page frontmatter :left {
        @bottom-left { content: counter(page, lower-roman); font-size: 8pt; }
    }

    @page frontmatter :right {
        @bottom-right { content: counter(page, lower-roman); font-size: 8pt; }
    }

    @page :left {
        @bottom-left { content: counter(page); font-size: 8pt; }
    }

    @page :right {
        @bottom-right { content: counter(page); font-size: 8pt; }
    }
}

/* Bookmarking (PDF Outline) */

h1 { bookmark-level: none; }
h2 { bookmark-level: 1; }
h3 { bookmark-level: 2; }
h4, h5, h6 { bookmark-level: none; }

/* Title page */

@media print {
    @page :first { margin: 0.5in 0.5in; }
}

.title-page { height: 7.4in; }
.title {
    /* For some reason, Weasyprint won't automatically determine the width if we transform a block */
    width: 5in;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 2em;
    text-align: center;
}

.title p {
    font-size: 1.5em;
    text-align: center;
}

.copyright {
    width: 4.5in;
    text-align: center;

    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Other Stuff */

h2 {
    font-weight: normal;
    text-align: right;
    padding: 0.1in;

    border-top: solid 1px black;
    border-bottom: solid 1px black;

    break-before: verso;
}

.skill {
    border: solid 1px black;
    border-radius: 5px;
    padding: 0in 0.1in;
    margin: 0.1in 0in;
    break-inside: avoid;

    display: grid;
    grid-template-columns: 1fr 3fr;

    & p {
        text-align: right;
    }

    & h3 { bookmark-level: none; }
}

.character-option {
    border: solid 1px black;
    border-radius: 5px;
    padding: 0in 0.1in;
    margin: 0.1in 0in;
    break-inside: avoid;

    & h4 {
        text-align: left;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    & .info {
        font-style: italic;
        padding-top: 0;
        padding-bottom: 0.5em;
        margin-top: 0;

        border-bottom: solid 1px black;
    }

    & .xp {
        float: right;
        font-weight: bold;
        padding: 1em;
    }
}

.condition {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0in 0.1in;
    margin: 0.1in 0in;
    break-inside: avoid;

    & ul {
        list-style: none;
    }
}

.price {
    color: lightgrey;

    & b {
        color: black;
    }
}

.item {
    border: solid 1px black;
    border-radius: 5px;

    padding: 0in 0.1in;
    margin: 0.1in 0in;

    break-inside: avoid;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2in;

    & p {
        text-align: left;
    }

    & .name {
        margin: 0;
        padding: 0.1in 0;
        text-align: left;
        font-weight: bold;
    }

    & .price {
        margin: 0;
        padding: 0.1in 0;
        text-align: right;
    }

    & .properties {
        border-left: solid 1px black;
        padding-left: 0.1in;

        & p {
            margin: 0;
        }

        & ul {
            margin-top: 0;
            padding-left: 0.1in;
        }
        margin-bottom: 0.1in;
    }
}

.stat-block {
    border: solid 1px black;
    padding: 0.1in;

    & .level {
        float: right;
    }
}
